:host {
  display: block;
  background-color: lightyellow;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}

input {
    padding: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
}

label {
    font-size: 2rem;
    font-weight: 800;
}