input {
  font-size: 2rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px white solid;

  &:focus {
    border: 1px rgb(0, 0, 255) solid;
  }

  &:hover {
    border: 1px rgb(0, 0, 255, .3) solid;
  }
}

:host {
  display: block;
  padding: 1rem;
  background-color: bisque;
  margin: 1rem;
  border-radius: 5px;
}
